<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuMagic</title>
    <link rel="stylesheet" href="../static/css/home.css">    
</head>
<body>
    <h1>MenuMagic</h1>
    
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Enter dish name">
        <button class="search-button">Search</button>
    </div>
    
    <div class="result-container">
        <h2>Search Results</h2>
        <!-- Search results will be dynamically rendered here -->
    </div>
    

</body>
</html>